@model IEnumerable<HotelTango.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Room Number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomRate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
