@model IEnumerable<HotelTango.Models.Room>

@{
    ViewData["Title"] = "All Rooms";
}

<h4>All Rooms</h4>

<p>
    <a asp-action="Create">Create New Room</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-action no-color">
        <p>
            Find by Name:<input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-success" />
            <a asp-action="Index"> Back to Full List </a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParam"]">@Html.DisplayNameFor(model => model.Id)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RoomNumberSortParam"]">@Html.DisplayNameFor(model => model.RoomNumber)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RoomTypeNameSortParam"]">@Html.DisplayNameFor(model => model.RoomType.RoomTypeName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BedTypeSortParam"]">@Html.DisplayNameFor(model => model.RoomType.BedType)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberOfBeds"]">@Html.DisplayNameFor(model => model.RoomType.NumberOfBeds)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RoomRateSortParam"]">@Html.DisplayNameFor(model => model.RoomType.RoomRate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.BedType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.NumberOfBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.RoomRate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
