@model IEnumerable<HotelTango.Models.Reservation>

@{
    ViewData["Title"] = "Hotel Tango Customer Reservations";
}

<h1>Customer Reservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Customer Info", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                Room Info
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    @Html.DisplayFor(modelItem => item.Customer.LastName)
                    <br />
                    @Html.DisplayFor(modelItem => item.Customer.Address)
                    <br />
                    @Html.DisplayFor(modelItem => item.Customer.City)
                    @Html.DisplayFor(modelItem => item.Customer.State)
                    @Html.DisplayFor(modelItem => item.Customer.PostalCode)
                    <br />
                    @Html.DisplayFor(modelItem => item.Customer.EmailAddress)
                    <br />
                    @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)
                </td>
                <td>
                    <b>RoomType:</b> @Html.DisplayFor(modelItem => item.RoomType.RoomTypeName)
                    <br />
                    <b>Number of Beds:</b> @Html.DisplayFor(modelItem => item.RoomType.NumberOfBeds)
                    <br />
                    <b>Bed Type:</b> @Html.DisplayFor(modelItem => item.RoomType.BedType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
